.container {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--bg-header);
  color: var(--color-primary);
}
.emptySpace {
  width: 2.4rem;
}
.themeButton {
  width: 2.4rem;
  margin-left: 1rem;
  cursor: pointer;
  height: 2.4rem;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral);
  border-radius: 50%;
}
