.container {
  background-color: var(--bg-primary);
  padding: 1.5rem;
  border-radius: 14px;
  font-family: "Inter";
  width: 30rem;
  color: var(--text-color-primary);
  text-align: center;
}
.title {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
}
.description {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1rem;
}
.cardButton {
  background-color: var(--bg-header-light);
  border-radius: 14px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  box-shadow: var(--shadow);
  font-size: 1.1rem;
  padding: 2rem;
  height: 7rem;
  width: 7rem;
  font-weight: 600;
  border: 1px solid var(--text-color-primary);
  color: var(--text-color-primary);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--bg-header-alt);
  }
  svg {
    width: 3.4rem;
  }
}
